/*
Error: Invalid CSS after "": expected selector, was "<<<<<<< HEAD"
        on line 395 of styles/_homepage.scss
        from line 57 of styles/style.scss

Backtrace:
styles/_homepage.scss:395
styles/style.scss:57
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/scss/parser.rb:1188:in `expr!'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:528:in `visit_media'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/smholbein176/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected selector, was \"<<<<<<< HEAD\"\A         on line 395 of styles/_homepage.scss\A         from line 57 of styles/style.scss"; }
