@media only screen and (max-width: 767px) {
  /*Countdown clock */
.countdown-clock {
  width: 90%;
  height: 180px;
  background-color: #ffae00;
  margin: 0 auto;
  position: relative;
  top: -40px;
}
.countdown-clock-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.countdown-number-box {
  width: 25%;
  height: 80px;
  background-color: white;
  margin-top: 10px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.days-until-cposc {
  font-family: $font-stack2;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.9px;
	text-align: center;
	color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.date-of-event {
    font-family: $font-stack2;
  	font-size: 21px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #f5f5f5;

  }
/*CPOSC background information container */
.cposc-background-container {
  margin: 0 auto;
  width: 90%;
  height: 150px;
}
.cposc-intro {
  font-family: $font-stack;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.52;
	letter-spacing: 1px;
	text-align: left;
	color: #101010;
}
.presentations-and-sessions-container {
  font-family: $font-stack;
	font-size: 17px;
	line-height: 1.41;
	letter-spacing: 0.9px;
	text-align: left;
	color: #101010;
  width: 90%;
  height: 180px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 30px;
}
.why-cposc-articles-container {
  background-color: #ebebeb;
  width: 100%;
  h2 {
    font-size: 18px;
  	font-weight: bold;
  	line-height: 1.33;
  	letter-spacing: 0.9px;
  }
  p {
    font-family: $font-stack;
  	font-size: 16px;
  	line-height: 1.5;
  	letter-spacing: 0.8px;
  	text-align: left;
  	color: #101010;
  }
  .why-cposc-container, .why-lancaster-container, .what-to-expect-container {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 90%;
  }
}
.conference-sponsers-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 90%;
  p {
    font-family: Lora;
  	font-size: 17px;
  	line-height: 1.41;
  	letter-spacing: 0.9px;
  	text-align: left;
  	color: #101010;
    padding-bottom: 15px;
  }
  .become-a-sponser-button a{
    background-color: #ffae00;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    font-weight: 900;
    font-family: $font-stack2;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 1.73;
  	letter-spacing: 0.9px;
  	color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
  }
  .conference-sponsers {
  	font-family: $font-stack;
  	font-size: 21px;
  	font-weight: bold;
  	line-height: 1.71;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #101010;
    padding-bottom: 10px;
  }
}
.platinum-sponsers-container, .gold-sponsers-container, .silver-sponsers-container,.bronze-sponsers-container, .host-sponsers-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    width: 35%;
    height: 10%;

  }
}
#millersville {
  width: 60%;

}
.sponsers-title {
  font-family: $font-stack2;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.71;
	letter-spacing: 1px;
	text-align: left;
	color: #ffae00;
}
.be-a-sponser-button {
  display: none;
}
}
//Desktop version of countdown clock
@media only screen and (min-width: 768px) {
  /*Countdown clock */
.countdown-clock {
  width: 50%;
  height: 150px;
  background-color: #ffae00;
  margin: 0 auto;
  position: relative;
  top: -40px;
  display: flex;
  justify-content: space-around;
}
.countdown-clock-counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}
.countdown-number-box {
  height: 90px;
  background-color: white;
  margin-top: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#countdown-box-one, #countdown-box-two, #countdown-box-three {
  margin-right: 20px;
  width: 100px;
}
.days-until-cposc {
  font-family: $font-stack2;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.9px;
	text-align: center;
	color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
  width: 100%;
}
.date-of-event {
  font-family: $font-stack2;
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #f5f5f5;
}
/*Homepage intro section */
.buy-tickets-background-info-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.background-info {
  width: 60%;

}
.cposc-background-container {
  margin: 0 auto;
}
.cposc-intro {
  font-family: $font-stack;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.52;
	letter-spacing: 1px;
	color: #101010;
  padding-bottom: 30px;


}
.presentations-and-sessions-container {
  font-family: $font-stack;
	font-size: 17px;
	line-height: 1.41;
	letter-spacing: 0.9px;
	color: #101010;
  margin: 0 auto;
}
.why-cposc-articles-container {
  background-color: #ebebeb;
  width: 100%;
  margin-top: 20px;
  h2 {
    font-size: 18px;
  	font-weight: bold;
  	line-height: 1.33;
  	letter-spacing: 0.9px;
  }
  p {
    font-family: $font-stack;
  	font-size: 16px;
  	line-height: 1.5;
  	letter-spacing: 0.8px;
  	text-align: left;
  	color: #101010;
  }
  .why-cposc-container, .why-lancaster-container, .what-to-expect-container {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 190px;
    margin: 0 auto;
    width: 40%;
  }
}

/*Sponsers section */
.conference-sponsers-container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 40%;
  p {
    font-family: Lora;
  	font-size: 17px;
  	line-height: 1.41;
  	letter-spacing: 0.9px;
  	text-align: left;
  	color: #101010;
    padding-bottom: 15px;
  }
  .become-a-sponser-button a{
    background-color: #ffae00;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    font-weight: 900;
    font-family: $font-stack2;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 1.73;
  	letter-spacing: 0.9px;
  	color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
  }
  .conference-sponsers {
  	font-family: $font-stack;
  	font-size: 21px;
  	font-weight: bold;
  	line-height: 1.71;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #101010;
    padding-bottom: 10px;
  }
}
.be-a-sponser-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.be-a-sponser-button a{
  background-color: #ffae00;
  width: 300px;
  height: 50px;
  font-weight: 900;
  font-family: $font-stack2;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.73;
  letter-spacing: 0.9px;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.become-a-sponser-button {
  display: none;
}

.conference-sponsers-and-button-container {
  display: flex;
  justify-content: space-around;
}
.platinum-sponsers-container, .gold-sponsers-container, .silver-sponsers-container,.bronze-sponsers-container, .host-sponsers-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  img {
    width: 10%;
    height: 10%;
    padding-right: 60px;

  }
}
#millersville {
  width: 20%;
  height: 20%;

}
.sponsers-title {
  font-family: $font-stack2;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.71;
	letter-spacing: 1px;
	text-align: left;
	color: #ffae00;
}
.bronze-sponsers-container {

}

.images-footer {
  float: right;
  display: inline;
  margin-right: 12%;
  margin-top: -80px;
  img {
    height: 25px;
    width: 14px;
  }
}






}
