@media only screen and (max-width: 767px){

 .sponser-container {
   width: 90%;
   padding-left: 20px;
   padding-bottom: 30px;
 }

.become-a-sponser {
  h3 {
    padding-bottom: 20px;
  }
  p {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.about-cposc-container {
  	background-color: #ebebeb;
    padding-left: 20px;
    width: 100%;
    padding-bottom: 90px;

.about-cposc {
    width: 90%;
    padding-top: 60px;

  h3 {
    font-family: $font-stack2;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 1.2px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  p {
    font-family: $font-stack;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: #101010;
    padding-bottom: 20px;
  }
  .list {
    font-family: $font-stack;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.9px;
    text-align: left;
    color: #101010;
    padding-bottom: 20px;
  }


}
}

.sponsership-packages {
  width: 90%;
  padding-left: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  h4{
    font-family: $font-stack2;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: left;
    color: #101010;
    padding-bottom: 30px;
  }
  p {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
    padding-bottom: 40px;
}
  }

  .sponsor-link-2 {
    display: inline-block;
    background-color: #ffae00;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 15px;
    width: 219px;
  }

  .sponsor-link-2 a {
    color: #ffffff;
    font-family: $font-stack2;
  	font-size: 16px;
  	font-weight: bold;
  	line-height: 2.25;
  	letter-spacing: 0.8px;
    text-decoration: none;
  }











}
