@media only screen and (max-width: 767px){

 .sponser-container {
   width: 90%;
   padding-left: 20px;
   padding-bottom: 30px;
 }

.become-a-sponser {
  h3 {
    padding-bottom: 20px;
  }
  p {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.about-cposc-container {
  	background-color: #ebebeb;
    padding-left: 20px;
    width: 100%;
    padding-bottom: 90px;

.about-cposc {
    width: 90%;
    padding-top: 60px;

  h3 {
    font-family: $font-stack2;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 1.2px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  p {
    font-family: $font-stack;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: #101010;
    padding-bottom: 20px;
  }
  .list {
    font-family: $font-stack;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.9px;
    text-align: left;
    color: #101010;
    padding-bottom: 20px;
  }


}
}

.sponsership-packages {
  width: 90%;
  padding-left: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  h4{
    font-family: $font-stack2;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: left;
    color: #101010;
    padding-bottom: 30px;
  }
  p {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
    padding-bottom: 40px;
}
  }

  .sponsor-link-2 {
    display: inline-block;
    background-color: #ffae00;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 15px;
    width: 219px;
  }

  .sponsor-link-2 a {
    color: #ffffff;
    font-family: $font-stack2;
  	font-size: 16px;
  	font-weight: bold;
  	line-height: 2.25;
  	letter-spacing: 0.8px;
    text-decoration: none;
  }

.desktop-table {
  display: none;
}

.desktop-sponsor-details {
  display: none;
}

.desktop-p {
  display: none;
}

.desktop-sponsor-button {
  display: none;
}

span {
  font-weight: bold;
}

}

@media only screen and (min-width: 768px) {

  .sponser-container {
    width: 90%;
    padding-left: 20px;
    padding-bottom: 120px;

  }

 .become-a-sponser {

   h3 {
     padding-bottom: 20px;
   }
   p {
     font-family: $font-stack;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.8px;
     text-align: left;
     color: #101010;
     padding-bottom: 20px;
     padding-top: 20px;
   }
 }

 .about-cposc-container {
   	background-color: #ebebeb;
     padding-left: 20px;
     width: 100%;
     padding-bottom: 90px;


 .about-cposc {
     width: 90%;
     padding-top: 60px;

   h3 {
     font-family: $font-stack2;
     font-size: 24px;
     font-weight: bold;
     line-height: 1.0;
     letter-spacing: 1.2px;
     padding-bottom: 20px;
     padding-top: 20px;
   }
   p {
     font-family: $font-stack;
     font-size: 18px;
     line-height: 1.33;
     letter-spacing: 0.9px;
     text-align: left;
     color: #101010;
     padding-bottom: 20px;
   }
   .list {
     font-family: $font-stack;
     font-size: 18px;
     line-height: 2.00;
     letter-spacing: 0.9px;
     text-align: left;
     color: #101010;
     padding-bottom: 20px;
   }


 }
 }

 .sponsership-packages {
   width: 90%;
   padding-left: 20px;
   padding-top: 60px;
   padding-bottom: 60px;
   h4{
     font-family: $font-stack2;
     font-size: 21px;
     font-weight: bold;
     line-height: 1.14;
     letter-spacing: 1px;
     text-align: left;
     color: #101010;
     padding-bottom: 30px;
   }
   p {
     font-family: $font-stack;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.8px;
     text-align: left;
     color: #101010;
     padding-bottom: 40px;
 }
   }

   .sponsor-link-2 {
     display: inline-block;
     background-color: #ffae00;
     text-align: center;
     font-size: 18px;
     padding: 10px;
     margin-top: -90px;
     margin-right: 8%;
     width: 219px;
     float: right;

   }

   .sponsor-link-2 a {
    color: #ffffff;
    font-family: $font-stack2;
   	font-size: 16px;
   	font-weight: bold;
   	line-height: 2.25;
   	letter-spacing: 0.8px;
    text-decoration: none;

   }

.sponsor-homepage{
  margin-left: 400px;
}

.desktop-table {
  margin-left: 5%;
  td {
    padding-right: 60px;
    padding-left: 20px;
    font-size: 16px;
    font-family: $font-stack;
    line-height: 2.0;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
  }
  th {
    width: 300px;
    text-align: left;
    font-family: $font-stack;
    font-size: 16px;
    line-height: 2.0;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
    padding-right: 90px;
  }
}

.mobile-p {
  display: none;
}

.desktop-p {
  width: 450px;
  font-family: $font-stack;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.7px;
  text-align: left;
  color: #101010;
  margin-left: 5%;
  padding-top: 41px;
}

.desktop-sponsor-details {
  margin-left: 30%;
  padding-top: 90px;
  h4 {
    font-family: $font-stack2;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: 1.2px;
  }
  h5 {
    font-family: $font-stack;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
  }
  p {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #101010;
  }
}

.desktop-sponsor-button {
  display: inline-block;
  background-color: #ffae00;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 219px;
}

.desktop-sponsor-button a {
  color: #ffffff;
  font-family: $font-stack2;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.25;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.bold-text {
  font-weight: bold;
}

.sponsor-desktop-only {
  width: 392px;
  margin-top: 200px;
  margin-left: 15px;;
    h6 {
      font-size: 16px;
      font-family: $font-stack2;
      color: #ffae00;
      font-weight: bold;
      letter-spacing: 0.8px;
      padding-bottom: 5px;
  }
   a {
    font-size: 16px;
    font-family: $font-stack2;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-decoration: none;
    color: #101010;
  }

}

#become-a-sponsor-desktop-only {
  margin-top: -350px;
}

}
